<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <script src="../dist/vm.js"></script>
</head>
<body>
    <div id = "app">
        <p>"1111"{{msg+'!'}}"0000"</p>
        <p v-text="msg"></p>
        <label>
            <input type="text" v-model="msg">
            <button @Click="handleClick">重置</button>
        </label>
    </div>
    <script>
        let vm = new VM({
            el: '#app',
            data: {
                msg: 'hello world'
            },
            methods: {
                handleClick: function () {
                    this.msg = 'hello world'
                }
            }
        })
    </script>
</body>
</html>